@page
@model StefansSuperShop.Pages.BackendTests.Products.ListModel
@{
    ViewData["Title"] = "List";
}

@*https://localhost:44338/backendTests/Products/List*@

<div class="row">
    <div class="col-6">
        <h2>List of Products</h2>
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductList[0].ProductName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductList[0].ProductName)
        </dd>
    </dl>
</div>
<tr class="table-secondary">
    <th>@Model.ProductList[0].ProductName</th>
</tr>
