@page
@model StefansSuperShop.Pages.Admin.ApplicationUsers.EditModel
@using Microsoft.AspNetCore.Identity;
@using StefansSuperShop.Data.Entities;
@inject SignInManager<ApplicationUser> SignInManager
@{
    var user = SignInManager.UserManager.Users.FirstOrDefault(u => u.UserName == User.Identity.Name);
}
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>

    <h4>Manage [emailaddress]</h4>
    <hr />
    <div class="col-md-4">
        <h4>Change email</h4>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Model.Id" />
            <div class="form-group">
                <label asp-for="Model.NewEmail" class="control-label"></label>
                <input asp-for="Model.NewEmail" class="form-control" />
                <span asp-validation-for="Model.NewEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <h4>Change password</h4>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Model.Id" />
            <div class="form-group">
                <label asp-for="Model.NewPassword" class="control-label"></label>
                <input asp-for="Model.NewPassword" class="form-control" />
                <span asp-validation-for="Model.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model.CurrentPassword" class="control-label"></label>
                <input asp-for="Model.CurrentPassword" class="form-control" />
                <span asp-validation-for="Model.CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <h4>Subscribe/Unsubscribe from newsletter</h4>
        <form method="post">
            <div class="form-group">
                @if (user.NewsletterIsActive)
                {
                    <label asp-for="Model.NewsletterIsActive" class="control-label"></label>
                    <input asp-for="Model.NewsletterIsActive" class="form-control" style="width:10%;" checked />
                }
                @if (!user.NewsletterIsActive)
                {
                    <label asp-for="Model.NewsletterIsActive" class="control-label"></label>
                    <input asp-for="Model.NewsletterIsActive" class="form-control" style="width:10%;" />
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-page="./Index">Back to List</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
