@page
@model StefansSuperShop.Pages.Contact.SuccessModel
@{
    ViewData["Title"] = "Contact Us";
}
<div class="container">
    <h2>@ViewData["Title"]</h2>
    <hr />

    <p>Thank you for reaching out to us.</p>
    <div>
        <a class="btn btn-primary" asp-page="/Index">Back to Home</a>
    </div>
</div>