<div class="row">
    <div class="col-md-4 col-xs-5">
        <div class="shop">
            <div class="shop-img">
                <img src="~/img/Home/Beverage.jpg" alt="Beverage" />
            </div>
            <div class="shop-body">
                <h3>Beverage<br>Collection</h3>
                <a class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-5">
        <div class="shop">
            <div class="shop-img">
                <img src="~/img/Home/Condiments.jpg" alt="Condiments" />
            </div>
            <div class="shop-body">
                <h3>Condiments<br>Collection</h3>
                <a class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-5">
        <div class="shop">
            <div class="shop-img">
                <img src="~/img/Home/Confection.jpg" alt="Confections" />
            </div>
            <div class="shop-body">
                <h3>Confections<br>Collection</h3>
                <a class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</div>


