@page
@model StefansSuperShop.Pages.Admin.IndexModel

@{
    ViewData["Title"] = "Admin Dashboard";
}
<div class="container">
<h2>@ViewData["Title"]</h2>
<h4>Manage</h4>

<hr />

@*<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Info card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>*@

    <div class="col-md-4 col-xs-6">
        <a class="btn btn-primary" href="/Admin/Products"><img class="img-responsive text-center" src="https://cdn2.iconfinder.com/data/icons/e-commerce-line-4-1/1024/open_box4-512.png" style="height: 175px; width: 175px;display:inline-block">Products</a>
    </div>
    <div class="col-md-4 col-xs-6">
        <a class="btn btn-primary" href="/Admin/ApplicationUsers"><img class="img-responsive" src="https://cdn2.iconfinder.com/data/icons/e-commerce-line-4-1/1024/open_box4-512.png" style="height: 175px; width: 175px;display:inline-block">Users</a>
    </div>
    <div class="col-md-4 col-xs-6">
        <a class="btn btn-primary" href="/Admin/Newsletters"><img class="img-responsive" src="https://cdn2.iconfinder.com/data/icons/e-commerce-line-4-1/1024/open_box4-512.png" style="height: 175px; width: 175px;display:inline-block">Newsletters</a>
    </div>

@*<a class="btn btn-primary btn" href="/Admin/Products">Products</a>
<a class="btn btn-primary btn" href="/Admin/ApplicationUsers">Users</a>
<a class="btn btn-primary btn" href="/Admin/Newsletters">Newsletter</a>
</div>*@