@page
@model StefansSuperShop.Pages.Admin.IndexModel
<div class="container">
<h2>
    Admin
</h2>
<h4>
    Manage
</h4>
<hr />

<a class="btn btn-primary btn" href="/Admin/Products">Products</a>
<a class="btn btn-primary btn" href="/Admin/ApplicationUsers">Users</a>
<a class="btn btn-primary btn" href="/Admin/Newsletters">Newsletter</a>
</div>