@page
@model StefansSuperShop.Pages.Admin.IndexModel

@{
    ViewData["Title"] = "Admin Dashboard";
}
<div class="container">
    <h2>@ViewData["Title"]</h2>
    <h4>Manage</h4>

    <hr />

    <div class="col-md-4 col-xs-6">
        <a class="btn btn-primary" href="/Admin/Products"><img class="img-responsive text-center" src="https://cdn2.iconfinder.com/data/icons/e-commerce-line-4-1/1024/open_box4-512.png" style="height: 175px; width: 175px;display:inline-block">Products</a>
    </div>
    <div class="col-md-4 col-xs-6">
        <a class="btn btn-primary" href="/Admin/ApplicationUsers"><img class="img-responsive" src="https://cdn2.iconfinder.com/data/icons/e-commerce-line-4-1/1024/open_box4-512.png" style="height: 175px; width: 175px;display:inline-block">Users</a>
    </div>
    <div class="col-md-4 col-xs-6">
        <a class="btn btn-primary" href="/Admin/Newsletters"><img class="img-responsive" src="https://cdn2.iconfinder.com/data/icons/e-commerce-line-4-1/1024/open_box4-512.png" style="height: 175px; width: 175px;display:inline-block">Newsletters</a>
    </div>
</div>