@page
@model StefansSuperShop.Pages.Admin.Products.ProductsModel

@{
    ViewData["Title"] = "Products";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <h4>Manage</h4>

    <hr />

    <div>
        <a class="btn btn-primary" asp-page="/Admin/Index">Back to List</a>
        <a class="btn btn-primary" asp-page="Create" role="button">New Product</a>
    </div>

    <hr />
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Stock level</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Stocklevel</td>
                <td>
                    <a class="btn btn-primary " role="button" href="/admin/product/edit?id=@product.Id">Edit</a>
                    <a class="btn btn-danger " role="button" href="/admin/product/delete?id=@product.Id">Delete</a>
                </td>
            </tr>

            }
        </tbody>
    </table>
    <div>
        <a class="btn btn-primary btn" asp-page="/Admin/Index">Back to List</a>
        <a class="btn btn-primary btn" asp-page="Create" role="button">New Product</a>
    </div>
</div>
